.section-title {
    margin-bottom: 20px;
    text-align: left;
}
.section-title.text-center {
    text-align: center;
}

.section-title h2.title {
    font-size: 60px;
    margin-bottom: 8px;
}

.section-title p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(29,29,36,.75);
    padding: 0 21%;
    font-weight: 300;
    color: #717173;
}