.about-section {
    padding: 100px 0;
}

.about-section .section-title p {
    padding: 0;
}

.about-section .section-title.text-center {
    text-align: left !important;
}

.about-content .container {
    padding: 0;
}

.about-content {
    padding-left: 50px;
}

.about-section  .section-title {
    margin-bottom: 50px;
}